@model ShipwayUnitOfWork.Models.ModelView.UsersModelView

<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4 class="modal-title">Sửa người giao hàng</h4>
</div>
@using (Html.BeginForm("EditShipper", "ManageShipper", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body">

        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Tên *</label>
                <div class="col-lg-9">
                    @Html.HiddenFor(model => model.Id)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Email *</label>
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Số điện thoại *</label>
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Tỉnh/Thành phố *</label>
                <div class="col-lg-9">
                    @Html.DropDownListFor(model => model.ProvinceId, new SelectList(ViewBag.ListProvince, "ProvinceId", "Name"), "-- Chọn Tỉnh/Thành phố --", new { @class = "ProvinceCbb form-control", @required = "required", id = "ProvinceEditShipper" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Quận/Huyện *</label>
                <div class="col-lg-9">
                    @Html.DropDownListFor(model => model.DistrictId, new SelectList(ViewBag.ListDistrict, "DistrictId", "Name"), "-- Chọn Quận/Huyện --", new { @class = "DistrictCbb form-control", @required = "required", id = "DistrictEditShipper" })
                </div>

            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Phường/Xã *</label>
                <div class="col-lg-9">
                    @Html.DropDownListFor(model => model.WardId, new SelectList(ViewBag.ListWard, "WardId", "Name"), "-- Chọn Phường/Xã --", new { @class = "WardCbb form-control", @required = "required", id = "WardEditShipper" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 control-label">Địa chỉ</label>
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="txtFirstName" class="col-lg-3 col-sm-3 control-label">Thuộc đại lý *</label>
                <div class="col-lg-9">
                    @Html.DropDownListFor(model => model.AgencyId, (SelectList)ViewBag.Agency, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default btn-primary">Lưu</button>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
    $("#ProvinceEditShipper").on('change', function () {
        console.log(1);
        if ($(this).val() != "") {
            idProvinceSelected = $(this).val();
            $.ajax({
                url: "/Address/GetDistrictByIdProvice",
                type: "POST",
                dataType: "json",
                data: {
                    idProvince: idProvinceSelected
                },
                success: function (data) {
                    console.log(data);
                    $('#WardEditShipper').empty();
                    $('#WardEditShipper').append($(`<option value="">-- Chọn Phường/Xã --</option>`));
                    var citiesSelect = $('#DistrictEditShipper');
                    citiesSelect.empty();

                    citiesSelect.append($(`<option value="">-- Chọn Quận/Huyện --</option>`));

                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            $(citiesSelect).append($(`<option value="${data[key]['DistrictId']}">${data[key]['Name']}</option>`));
                        }
                    }
                }
            })
        }
    });

    $("#DistrictEditShipper").on('change', function () {
        if ($(this).val() != "") {
            idDistrictSelected = $(this).val();
            $.ajax({
                url: "/Address/GetWardByIdDistrict",
                type: "POST",
                dataType: "json",
                data: {
                    idDistrict: idDistrictSelected
                },
                success: function (data) {
                    var citiesSelect = $('#WardEditShipper');
                    citiesSelect.empty();

                    citiesSelect.append($(`<option value="">-- Chọn Phường/Xã --</option>`));

                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            $(citiesSelect).append($(`<option value="${data[key]['WardId']}">${data[key]['Name']}</option>`));
                        }
                    }
                }
            })
        }
    });
});
</script>