@using Shipway.Constant
@using ShipwayUnitOfWork.Models
@model ShipwayUnitOfWork.Models.Users
@{
    ViewBag.Title = "Quản lý tài khoản";
    var errorMessages = TempData["errorMessages"] as List<string>;
}

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                QUẢN LÝ TÀI KHOẢN
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row-fluid">
                    <button data-toggle="modal" class="btn btn-primary" data-target="#ModalAddAccount">
                        Thêm tài khoản
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                @if (errorMessages != null)
                {
                    <div class="text-error" style="color: red; font-weight: 600; margin-top: 10px;">
                        @foreach (var error in errorMessages)
                        {
                            @error <br />
                        }
                    </div>
                }

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddAccount" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">Thêm tài khoản</h4>
                            </div>



                            @using (Html.BeginForm("SaveAccount", "SuperAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="modal-body">

                                    @Html.ValidationSummary(true)
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Tên đăng nhập *</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" name="UserName" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Mật khẩu *</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" name="Password" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Nhập lại mật khẩu *</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" name="RePassword" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Tên *</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" name="Name" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtFirstName" class="col-lg-3 col-sm-3 control-label">Email *</label>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" name="Email" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Số điện thoại *</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="PhoneNumber" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Tỉnh/Thành phố *</label>
                                            <div class="col-lg-9">
                                                @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ListProvince, "-- Chọn Tỉnh/Thành phố --", new { @class = "ProvinceCbb form-control", @required = "required", id = "ProvinceCbb" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Quận/Huyện *</label>
                                            <div class="col-lg-9">
                                                @Html.DropDownList("DistrictId", new SelectList(ViewBag.ListDistrict, "DistrictId", "Name"), "-- Chọn Quận/Huyện --", new { @class = "DistrictCbb form-control", @required = "required", id = "DistrictCbb" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Phường/Xã *</label>
                                            <div class="col-lg-9">
                                                @Html.DropDownListFor(model => model.WardId, new SelectList(ViewBag.ListWard, "WardId", "Name"), "-- Chọn Phường/Xã --", new { @class = "WardCbb form-control", @required = "required", id = "WardCbb" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Địa chỉ</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 col-sm-3 control-label">Loại tài khoản *</label>
                                            <div class="col-lg-9">
                                                @Html.DropDownListFor(model => model.TypeId, new SelectList(ViewBag.Permission, "TypeId", "TypeName"), "-----Lựa chọn quyền truy cập----", new { @id = "PermissionId", @class = "form-control m-bot15 " })
                                            </div>
                                        </div>
                                        <div class="form-group adminAgency" style="display:none">
                                            <label class="col-lg-3 control-label">Trực thuộc đại lý</label>
                                            <div class="col-lg-9">
                                                @Html.DropDownListFor(model => model.AgencyId, new SelectList(ViewBag.ListAgency, "AgencyId", "AgencyName", "----Lựa chọn đại lý----"), new { @class = "form-control m-bot15" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-default btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-lg-5">
                        @Html.TextBox("fullTextSearch", null, new { @class = "form-control", id = "fullTextSearch", placeholder = "Nhập tìm kiếm" })
                    </div>
                    <div class="col-lg-5">
                        @Html.DropDownListFor(model => model.TypeId, new SelectList(ViewBag.Permission, "TypeId", "TypeName"), "-- Chọn quyền --", new { @class = "form-control", id = "permissionSearch" })
                    </div>
                    <div class="col-lg-2">
                        <p data-toggle="modal" class="btn btn-primary" id="clearFilter">
                            Xóa bộ lọc
                            <i class="fa fa-times-circle"></i>
                        </p>
                    </div>
                </div>
                <div class="adv-table">
                    <table class="display table listAccount">
                        <thead>
                            <tr>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Tên</th>
                                <th>Quyền truy cập</th>
                                <th>Đặt lại mật khẩu</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="tableContent">
                            @foreach (var item in ViewBag.ListAccount)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Name</td>
                                    @if (@item.TypeId == UserConstant.TYPEUSER_SUPPERADMIN)
                                    {
                                        <td id="permission_1">SuperAdmin</td>
                                    }
                                    else if (item.TypeId == UserConstant.TYPEUSER_ADMIN)
                                    {
                                        <td id="permission_2">Admin</td>
                                    }
                                    else if (item.TypeId == UserConstant.TYPEUSER_CUSTOMER)
                                    {
                                        <td id="permission_3">Khách hàng</td>
                                    }
                                    else
                                    {
                                        <td id="permission_4">Shipper</td>
                                    }
                                    <td class="text-center">
                                        <a class="btn btn-info btn-reset-pass" value="@item.Id" title="Đặt lại mật khẩu"><i class="fa fa-solid fa-repeat"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary editmodal" href="#" data-url="@Url.Action("EditAccount", "SuperAdmin", new { id=@item.Id})" title="Edit Account" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger deletemodal" data-url="@Url.Action("DeleteAccount", "SuperAdmin", new { id=@item.Id})" title="Delete Account" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div aria-hidden="true" role="dialog" tabindex="-1" id="modal_account" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content partial-container">
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/superadmin.js"></script>
    <script src="~/Scripts/address_province.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
}
